* {
  box-sizing: border-box;
}
  
@font-face {
  src: url(font/Quicksand-Light.ttf);
  font-family: Quicksand;
}

body {
  font-family: 'Quicksand', 'Bookman Old Style', "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 5em;
  text-align: block;
  max-width: 100%; 
  display:block;
  background-color:#ffffff;
}

 /* This one could still e used to make a character limit so the website doesn't look weird in bigger screens, but the reason why I didn't put that
is because then it makes it weird for smaller screens; like when the user restores down the tab or if the uses the website on the phone */
 
p {
  max-width: 5000px;
  font-size: 15px;
}
  
h1 {
  font-style: italic;
  color: #006400;
  text-align: center;
  vertical-align: center;
}
  
bold {
  font-weight: bold;
}
  
h2 {
  border-top: 1px solid lightgrey;
}
  
/*This one has a line-divider */
h3{
  color:#000000;
  text-align: right;
  border-top: 1px solid lightgrey;
}
  
/*This one has a line-divider */
h4{
  border-top: 1px solid lightgrey;
  text-align:right;
}
  
/* This one is for the logo in the header*/
div {
  display: block;
}
/* This one is for the emails to be aligned on the right */
div-a{
  text-align: right;
}
 
#navbar {
  overflow: hidden;
  background-color: #333;
  z-index: 99999;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 90%;
}

.sticky + .content {
  padding-top: 60px;
}
  
footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
  text-align: right;
  color: teal;
}
  
header {
  background-color: #F1F1F1;
  text-align: center;
  padding: 20px;
}

.slider {
  max-width: 600px;
  height: 300px;
  margin: 20px auto;
  position: relative;
  border: 5px outset #ddd;
}

.slide1,.slide2,.slide3,.slide4,.slide5 {
  position: absolute;
  width: 100%;
  height: 100%;
}

.slide1 {
  background: url(Stock/a.png)no-repeat center;
      background-size: cover;
    animation:fade 20s infinite;
-webkit-animation:fade 20s infinite;
} 
.slide2 {
  background: url(Stock/b.png)no-repeat center;
      background-size: cover;
    animation:fade2 20s infinite;
-webkit-animation:fade2 20s infinite;
}

.slide3 {
    background: url(Stock/c.png)no-repeat center;
      background-size: cover;
    animation:fade3 20s infinite;
-webkit-animation:fade3 20s infinite;
}

.slide4 {
  background: url(Stock/d.png)no-repeat center;
    background-size: cover;
  animation:fade4 20s infinite;
-webkit-animation:fade4 20s infinite;
}

@keyframes fade
{
  0%   {opacity:1}
  25% { opacity: 0}
  50% { opacity: 0}
  75% { opacity: 0}
  100% { opacity:1}
}

@keyframes fade2
{
  0%   {opacity:0}
  25% { opacity: 1}
  50% { opacity: 0}
  75% { opacity: 0}
  100% { opacity:0}
}

@keyframes fade3
{
  0%   {opacity:0}
  25% { opacity: 0}
  50% { opacity: 1}
  75% { opacity: 0}
  100% { opacity:0}
}

@keyframes fade4
{
  0%   {opacity:0}
  25% { opacity: 0}
  50% { opacity: 0}
  75% { opacity: 1}
  100% { opacity:0}
}
