/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
}
  
body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 5em;
  background-color:#ffffff;
  max-width: 100%; 
  display:block;
}
  
p {
  overflow: hidden;
}
  
h1 {
  font-style: italic;
  color: #006400;
  text-align: center;
  vertical-align: center;
}
  
bold {
  font-weight: bold;
}
  
h2 {
  border-top: 1px solid lightgrey;
}
  
/*This one has a line-divider */
h3{
  color:#000000;
  text-align: right;
  border-top: 1px solid lightgrey;
}
  
/*This one has a line-divider */
h4{
  border-top: 1px solid lightgrey;
  text-align:right;
}
  
/* This one is for the logo in the header*/
div {
  display: block;
}
/* This one is for the emails to be aligned on the right */
div-a{
  text-align: right;
}
 
/* This is so the link in the nav bar don't have the circle beside them, don't remove this or it will mess up the navigation bar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* This one could still e used to make a character limit so the website doesn't look weird in bigger screens, but the reason why I didn't put that
is because then it makes it weird for smaller screens; like when the user restores down the tab or if the uses the website on the phone */
p {
  max-width: 5000px;
}

  
li {
  margin-bottom: 5px;
}
  
footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
  text-align: right;
  color: teal;
}
  
header {
  background-color: #F1F1F1;
  text-align: center;
  padding: 20px;
}
  
navbar {
  background-color:black;
  text-align: center;
  display: inline-block;
  width: 100%;
}
  
topnav {
  overflow: hidden;
  background-color: #333;
  text-align: center;
}
  
topnav a {
  float: left;
  display: block;
  color: #ffffff;
  padding: 15px 20px;
  text-decoration: none;
}
  
topnav a:hover {
  background-color: #ddd;
  color: black;
}

.fling-minislide {width:650px; height:300px; overflow:hidden; position:center; }
.fling-minislide img{ position:absolute; animation:fling-minislide 20s infinite; opacity:0; width: 100%; height: auto;}

@keyframes fling-minislide {25%{opacity:1;} 40%{opacity:0;}} 
.fling-minislide img:nth-child(4){animation-delay:0s;}
.fling-minislide img:nth-child(3){animation-delay:5s;}
.fling-minislide img:nth-child(2){animation-delay:10s;}
.fling-minislide img:nth-child(1){animation-delay:15s;}