
@font-face {
  src: url(font/Quicksand-Light.ttf);
  font-family: Quicksand;
}

body {
  font-family: 'Quicksand', 'Bookman Old Style', "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 5em;
  text-align: block;
  max-width: 100%; 
  display:block;
  background-color:#ffffff;
}

p {
  font-size: 15px;
}

/* The next two are for the subtitles in the tutorial page */
h2{
  color: orange !important;
}
  
a {
  color: inherit;
  text-decoration: none;
}
  
header {
  background-color: #F1F1F1;
  text-align: center;
  padding: 20px;
}
  
navbar {
  background-color:black;
  text-align: center;
  display: inline-block;
  width: 100%;
}
  
topnav {
  overflow: hidden;
  background-color: #333;
  text-align: center;
}
  
topnav a {
  float: left;
  display: block;
  color: #ffffff;
  padding: 15px 20px;
  text-decoration: none;
}
  
topnav a:hover {
  background-color: #ddd;
  color: black;
}
 
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
  
section {
  display: inline-block;
  width: 29%;
  margin: 20px;
}
