
@font-face {
  src: url(font/Quicksand-Light.ttf);
  font-family: Quicksand;
}

body {
  font-family: 'Quicksand', 'Bookman Old Style', "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 5em;
  text-align: block;
  max-width: 100%; 
  display:block;
  background-color:#ffffff;
}

p {
  max-width: 5000px;
  font-size: 15px;
}

/* The next two are for the subtitles in the tutorial page */
h2{
  color: orange;
}

a {
  color: inherit;
  text-decoration: none;
}

div {
  display: block;
}

section {
  display: inline-block;
  width: 25%;
}

header {
  background-color: #F1F1F1;
  text-align: center;
  padding: 20px;
}

 
#navbar {
  overflow: hidden;
  background-color: #333;
  z-index: 99999;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}




